<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="./slide-4.png" />
        <h2>Bienvenue 👋 </h2>
        <p>Vous êtes <b>fatigués</b> de gérer vos fiches manuellement et sur le papier? 
          </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="./slide-2.png" />
      <h2>Objectif</h2>
      <p>Vous rechercher un outil <b>fiable, intuitif et efficace</b>
        pour gerer vos fiches?</p>
    </ion-slide>

    <ion-slide>
      <img src="./slide-4.png" />
      <h2>Vous êtes au bon endroit</h2>
      <ion-button fill="clear" routerLink ="./accueil">Continuer 😍 <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
